{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,
	"printWidth": 100,
	"proseWrap": "preserve",
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "ignore",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"proseWrap": "preserve"
			}
		},
		{
			"files": "*.json",
			"options": {
				"printWidth": 200
			}
		}
	],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/ui/(.*)$",
		"^@/providers/(.*)$",
		"^@/constants/(.*)$",
		"^@/config/(.*)$",
		"^@/store/(.*)$",
		"^@/hooks/(.*)$",
		"^@/utils/(.*)$",
		"^@/api/(.*)$",
		"^@/server/(.*)$",
		"^(?!.*\\.scss$)(../.*)$",
		"^(?!.*\\.scss$)(./.*)$",
		".*\\.scss$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": [
		"@trivago/prettier-plugin-sort-imports"
	]
}